{% extends "main/portebla/t_bazo.html" %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js %}
    <link href="{% static 'main/style/t_starto.css' %}" rel="stylesheet">
{% endblock css_js %}
{% block title %}
    {% trans 'Poehali!' %}
{% endblock title %}
{% block t_main %}
    <div class="t_maincont">
        <div class="t_mainpage">
            <img src="{% static "main/images/favicon.png" %}" alt="tehnokom.su" class="mainpage__logo"/>
            <h1 class="t_mainpage__title">{% trans 'Faru unuan paŝon al la' %} <br/> {% trans 'hela komunisma estonteco' %}</h1>
            <a class="t_mainpage__button" href="/bazainformo">{% trans 'En estontecon' %}</a>
            <h2 class="t_mainpage__duatitle">{% trans 'Premu la butonon, kaj ĉio komenciĝos' %}</h2>
            <div class="t_mainpage__footer">
                <div><a class="t_mainpage__footer__telegram" href="https://tehnokom.su/p6/">Ресурсный Центр Технокома</a></div><br />

                <div><a class="t_mainpage__footer__socio" href="/socio">{% trans 'Komunumoj de Teknokomo' %}</a></div><br />

                <div><a class="t_mainpage__footer__help" href="/p5/">{% trans 'Helpo' %}</a></div>
{#                <div class="mainpage__footer__languages">#}
{#                    <a class="mainpage__footer__languages__link" href="/eo">Esperanto</a>#}
{#                    <a class="mainpage__footer__languages__link" href="/ru">Русский</a>#}
{#                    <a class="mainpage__footer__languages__link" href="/en">English</a>#}
{#                    <a class="mainpage__footer__languages__link" href="/sr">Српски</a>#}
{#                    <a class="mainpage__footer__languages__link" href="/hr">Hrvatski</a>#}
{#                    <a class="mainpage__footer__languages__link" href="/kk">Қазақша</a>#}
{#                    <a class="mainpage__footer__lokalizo" href="https://wp.tehnokom.su/weblate" target="_blank" rel="noopener">Локализация</a>#}
{#                </div>#}
            </div>
        </div>
    </div>
{% endblock t_main %}
