.container-fix {
    width: 980px;
}

.navbar{
    height: 50px;
    width: 100%;
    background: url(../images/kosmo.jpg) rgba(0,123,172,0.5) center 0 no-repeat;
}

.alert-info-griza{
    background-color: #ffffff;
	border: 1px solid #bee5eb;
}

.alert-container{
    margin-top: 10px;
}

/* Временно-постоянные костыли */

img.in-ava{
    vertical-align: top;
}

.feed-bl p, .uzantoj_starta_titolo_bloko p{
	margin-top: 13px;
}

.alert{
    margin-bottom: 10px;
}


/* Общие стили */
.news-feed{
	width: 560px;
	position: relative;
	height: auto;
	display: inline-block;
	margin-right: 8px;
}