html, body{
	padding: 0 0;
	margin: 0 0;
	font-family: roboto, Arial, sans-serif;
	font-size: 13px;
}


.main{
	width: 100%;
	height: auto;
	position: relative;
	top: -55px;
}

a, div {
	outline: none;
}

a {
	color: #0055aa;
}


a:hover {
	text-decoration: underline;
}

.more_button {
	display: block;
	margin: 10px 0 10px 0;
	padding: 5px;
	background: #008FCB;
	border-radius: 5px;
	border: 1px solid #E4E4E4;
	color: #FFFFFF;
	text-align: center;
	width: 98.5%;
	transition: 0.5s all;
}

.more_button:hover {
	background: #DFDFDF;
	color: #555555;
}

.m-navbar{
	position: relative;
	top: 0;
	height: 50px;
	width: 100%;
	background: url(../images/kosmo.jpg) center 0 no-repeat;
	background-size: cover;
	overflow-x: hidden;
	overflow-y: hidden;
	z-index: 1000;
}
.nav-shadow{
	background-color: rgba(0,123,172,0.5);
	z-index: 100;
	width: 100%;
	position: absolute;
	height: 50px;
}
.nav-cont{
	width: 980px;
	height: 50px;
	margin-left: calc((100% - 980px)/2);
}
.nav-logo{
	width: 125px;
	height: 30px;
	margin-top: 16px;
	margin-left: -2px;

}
.nav-logo > img{
	width: 125px;
	height: auto;
}
.nav-search{
	position: absolute;
	top: 50%;
	left: calc((100% - 980px)/2 + 160px);
	height: 32px;
	margin-top: -16px;
}

.nav-search input {
	width: 230px;
	border: 0px solid grey;
	height: 32px;
	padding: 0 10px;
	font-size: 14px;
	color: #fff;
	background: rgba(0,0,0,0.35);
	border: none;
	border-radius: 5px;
	transition: 0.2s all;
}

.nav-search  input:focus{
	width: 300px !important;
	color: #000;
	background-color: #fff;
}
.nav-search input:hover {
	background-color: rgba(0,0,0,0.25);
}
.nav-search input:focus:hover {
	background-color: #fff;
}
.nav-logo:hover {
	opacity: 0.8;
}

.nav-search-malakt{
	position: absolute;
	top: 50%;
	left: calc((100% - 980px)/2 + 160px);
	height: 32px;
	margin-top: -16px;
}

.nav-search-malakt input {
	width: 230px;
	border: 0px solid grey;
	height: 32px;
	padding: 0 10px;
	font-size: 14px;
	color: #fff;
	background: rgba(0,0,0,0.35);
	border: none;
	border-radius: 5px;
	transition: 0.2s all;
}

.nav-right{
	position: absolute;
	top: 30%;
	right: calc((100% - 980px)/2);
	height: 50px;
	/*width: calc(980px - 135px - 325px);*/
	max-width: 590px;
	margin-top: -16px;
}

.nav-right a {
	display: inline-block;
}

.nav-item{
	display: inline-block;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 50px;
	padding: 0 6px;
	font-size: 14px;
	color: #fff;
	margin-left: -6px;
	line-height: 50px;
	transition: 0.2s all;
	text-decoration: none !important;
}

.nav-item:hover, .nav-name:hover{
	background-color: rgba(255,255,255,0.5);
}

.nav-item-malakt{
	display: inline-block;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 50px;
	padding: 0 6px;
	font-size: 14px;
	color: #BBBBBB;
	cursor: default;
	margin-left: -6px;
	line-height: 50px;
	transition: 0.2s all;
	text-decoration: none !important;
}

#person span {
	max-width: 150px;
	overflow-x: hidden;
	text-overflow: ellipsis;
	display: inline-block;
}

.nav-name{
	display: inline-block;
	height: 50px;
	padding: 0 6px;
	padding-right: 70px;
	font-size: 14px;
	color: #fff;
	margin-left: 0;
	line-height: 50px;
	transition: 0.2s all;
	text-decoration: none !important;
	cursor: pointer;
	white-space: nowrap;
}

.open-menu{
	display: block;
	position: absolute;
	top: 18px;
	border-radius: 5px;
	width: 180px;
	float: right;
	/*height: 172px;*/
	background-color: white;
	border: 1px solid #ccc;
	z-index: 1000;
	left: 790px;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s all;
	padding-bottom: 13px;
}

.open-menu form{
	display: block;
	padding: 5px;
}

.open-menu form input{
	width: 100%
}

.open-menu::before{
	display: block;
	position: absolute;
	content: ' ';
	left: 156px;
	top: -6px;
	width: 0;
	height: 0;
	margin-top: 0;
	border: 6px solid transparent;
	border-bottom-color: white;
	border-top-width: 0;
	z-index: 996;
}

.open{
	top: 0;
	visibility: visible !important;
	opacity: 1;
	transition: 0.3s all;
}

.open-menu::after{
	display: block;
	position: absolute;
	content: ' ';
	left: 155px;
	top: -7px;
	width: 0;
	height: 0;
	z-index: 995;
	margin-top: 0;
	border: 7px solid transparent;
	border-bottom-color: grey;
	border-top-width: 0;
}

.nav-ava{
	height: 39px;
	width: 39px;
	margin-top: 7px;
	position: absolute;
	display: inline-block;
	border-radius: 50%;
	background-color: #DFDFDF;
	margin-left: 10px;
	z-index: 2000;
}

.in-ava{
	border-radius: 50%;
	height: 39px;
	width: 39px;
	z-index: 2001;
	box-shadow: 0 0 5px rgba(255,255,255,0.6);
}
.nav-ava::after{
	display: block;
	position: absolute;
	content: ' ';
	top: 50%;
	left: 45px;
	width: 0;
	height: 0;
	margin-top: -3px;
	border: 5px solid transparent;
	border-bottom-width: 5px;
	border-top-color: transparent;
	border-bottom-width: 0;
	border-top-color: rgba(255,255,255,0.5);
}

.main-container{
	width: 980px;
	position: relative;
	height: auto;
	margin-left: calc((100% - 980px)/2);
	margin-top: 10px;
	margin-bottom: 20px;
	line-height: 19px;
}

.left-side{
	margin-top: 10px;
	width: 145px;
	display: inline-block;
	height: auto;
	position: absolute;
	line-height: 16px;
}
.g_grid__sidebar{
	margin-top: -13px;
	font-size: 13px;
	margin-left: -45px;
}

.g_grid__sidebar .menu-menyu-1-container { display: block; padding: 0; margin: 0;}
.g_grid__sidebar .menu-menyu-1-container > .menu { display: block; padding: 0; margin: 0; }
.g_grid__sidebar .menu-item { display: block; padding: 0; margin: 0; font-family: 'Exo 2';}
.g_grid__sidebar .menu-item > a { display: block; position: relative; padding: 7px 7px 7px 32px; margin-left: -7px; color: #007BAC; border-radius: 3px; opacity: 0.5; transition: 0.2s all; }
.g_grid__sidebar .menu-item > a { opacity: 1; }
.g_grid__sidebar .menu-item > a:hover { background-color: rgba(0,123,172,0.1); }
.g_grid__sidebar .menu-item > a:active { background-color: rgba(0,123,172,0.2); }

.g_grid__sidebar .menu-item > a[href="#"] { opacity: 0.5; }
.g_grid__sidebar .menu-item > a[href="#"]:hover,
.g_grid__sidebar .menu-item > a[href="#"]:active { cursor: default; background-color: transparent; opacity: 0.5; }

.g_grid__sidebar .menu-item > a::before { display: block; position: absolute; content: ' '; top: 50%; left: 7px; width: 18px; height: 18px; margin-top: -9px; background-position: center center; background-repeat: no-repeat; background-size: 18px 18px; }

.g_grid__sidebar .menu-item.speaker > a::before { background-image: url(../images/icons/speaker_blue.png); }
.g_grid__sidebar .menu-item.bookmark > a::before { background-image: url(../images/icons/bookmark_blue.png); }
.g_grid__sidebar .menu-item.gamepad > a::before { background-image: url(../images/icons/gamepad_blue.png); }
.g_grid__sidebar .menu-item.document > a::before { background-image: url(../images/icons/document_blue.png); }
.g_grid__sidebar .menu-item.hammer > a::before { background-image: url(../images/icons/hammer_blue.png); }
.g_grid__sidebar .menu-item.home > a::before { background-image: url(../images/icons/home_blue.png); }
.g_grid__sidebar .menu-item.envelope > a::before { background-image: url(../images/icons/envelope_blue.png); }
.g_grid__sidebar .menu-item.person > a::before { background-image: url(../images/icons/person_blue.png); }
.g_grid__sidebar .menu-item.heart > a::before { background-image: url(../images/icons/heart_blue.png); }
.g_grid__sidebar .menu-item.dikretumo > a::before { background-image: url(../images/icons/question_blue.png); }
.g_grid__sidebar .menu-item.newspaper > a::before { background-image: url(../images/icons/newspaper_blue.png); }
.g_grid__sidebar .menu-item.baloon_chart > a::before { background-image: url(../images/icons/baloon_chart_blue.png); }
.g_grid__sidebar .menu-item.trophy > a::before { background-image: url(../images/icons/trophy_blue.png); }
.g_grid__sidebar .menu-item.play > a::before { background-image: url(../images/icons/play_blue.png); }

.g_grid__sidebar .menu-item.dikretumo { position: relative; padding-top: 10px; }
.g_grid__sidebar .menu-item.dikretumo::before { display: block; position: absolute; content: ' '; top: 0px; right: 0; left: 0px; border-top: 1px solid rgba(0,0,0,0.07); }

.main-side{
	display: inline-block;
	width: calc(100% - 160px);
	margin-left: 160px;
	height: auto;
}
.drop-line{
	display: block;
	position: relative;
	content: ' ';
	top: 7px;
	left: 10px;
	width: 160px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-top: 1px solid rgba(0,0,0,0.07);
}

a > .drop-item{
	color: #007BAC !important;
}

.drop-item{
	padding-top: 12px;
	padding-left: 10px;
}

a:hover > .drop-item{
	color: #03B5FC !important;
}

a > .drop-item-malakt{
	color: #BBBBBB;
	cursor: default;
}
.drop-item-malakt{
	padding-top: 12px;
	padding-left: 10px;
}

a:hover > .drop-item-malakt{
	color: #BBBBBB;
	cursor: default;
}

/* Подробнее*/

.readmore{
}

.readmore_link{
	font-weight: bold !important;
	color: #2277cc;
}

/* Кнопка */
.submit { display: block; margin-top: 10px; height: 32px; padding: 0 12px; font-weight: normal; font-size: 13px; color: #fff; line-height: 28px; text-decoration: none; background-color: #008FCB; border-radius: 5px; border: none; transition: 0.3s all; }
.submit:hover { cursor: pointer; color: #fff; box-shadow: inset 0 0 50px 50px rgba(255,255,255,0.2); }
.submit:active { color: #fff; box-shadow: inset 0 0 50px 50px rgba(0,0,0,0.2); }
.submit:focus { outline: none; }
.submit[disabled] { cursor: default; opacity: 0.5; box-shadow: none; }
a.submit { display: inline-block; }


.averto_bloko { margin-top: 10px; width: 99%; height: auto; border-radius: 5px; background-color: #F9CC53; border: 1px solid #DFDFDF; /*opacity: 0;*/ }
.averto_bloko > span { display: block; margin: 5px; text-align: center; width: 98%; }

.formo-extere { position: absolute; left: 0; top: 0; border-radius: 5px; height: 100%; background: #eaeaeacc; top: 0; width: 100%; z-index: 9999; }
.formo-extere > div { width:100%; height:100%; text-align:center; }
.formo-extere > div > div { display:-moz-inline-box; display:inline-block; vertical-align:middle; zoom:1; position: relative; padding: 2px; }
.formo-extere > div > div:nth-last-child(1) { height: 100%; }

/*Pagination*/
.pagination .active{
	font-weight: bold;
	font-size: 17px;
}

.hidden-element{ display: none; !important; }

.bazo_informa_mesaxo{
	margin-top: 10px;
	width: 538px;
	height: 41px;
	border-radius: 5px;
	vertical-align: middle;
	border: 1px solid #DFDFDF;
	padding: 10px 10px 0 10px;
	color: #666666;
}

.bazo_informa_mesaxo_granda{
	margin-top: 10px;
	width: 776px;
	height: 41px;
	border-radius: 5px;
	vertical-align: middle;
	border: 1px solid #DFDFDF;
	padding: 10px 10px 0 10px;
	color: #666666;
}

.bazo_informa_mesaxo_granda2{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 776px;
	height: 41px;
	border-radius: 5px;
	vertical-align: middle;
	border: 1px solid #DFDFDF;
	padding: 10px 10px 0 10px;
	color: #666666;
}

/* Поиск на вкладках */
.bazo_tabs_serqo{
	margin-top: 5px;
	margin-bottom: 10px;
}

.bazo_tabs_serqo input{
	border: 1px solid #DFDFDF;
	height: 28px;
	padding: 0 10px;
	font-size: 13px;
	color: #000000;
	background: #ffffff;
	border-radius: 5px;
	transition: 0.2s all;
}

.list-image{
	width: 50px;
	height: 50px;
	border-radius: 50% !important;
}

/* Кнопка */
.bazo_tabs_serqo_submit {
	margin-top: 10px;
	height: 28px;
	padding: 0 12px;
	font-weight: normal;
	font-size: 13px;
	color: #fff;
	line-height: 28px;
	text-decoration: none;
	background-color: #008FCB;
	border-radius: 5px;
	border: none;
	transition: 0.3s all;
}
.bazo_tabs_serqo_submit:hover{
	cursor: pointer;
	color: #fff;
	box-shadow: inset 0 0 50px 50px rgba(255,255,255,0.2);
}
.bazo_tabs_serqo_submit:active{
	color: #fff;
	box-shadow: inset 0 0 50px 50px rgba(0,0,0,0.2);
}
.bazo_tabs_serqo_submit:focus{
	outline: none;
}
.bazo_tabs_serqo_submit[disabled]{
	cursor: default;
	opacity: 0.5;
	box-shadow: none;
}
a.bazo_tabs_serqo_submit{
	display: inline-block;
}

/* Правая область */
.bazo_dekstra_bloko{
	width: 248px;
	/*margin-left: 25px;*/
	height: auto;
	position: relative;
	z-index: 200;
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
}

.bazo_dekstra_bloko_unu{
	width: 248px;
	height: auto;
	border-radius: 5px;
	border: 1px solid #DFDFDF;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10px;
	padding: 10px 10px 0 10px;
}

.bazo_dekstra_bloko_unu > p{
	padding: 0;
	font-size: 13px;
}

.bazo_dekstra_bloko_unu_titolo{
	font-weight: bold;
	padding-bottom: 10px;
}

.bazo_dekstra_bloko_unu_titolo_ne{
	font-weight: bold;
}

