.uzantoj_feed-cont{
	width: 100%;
	height: auto;
}

.uzantoj_feed-cont ul {
	padding: 0px 0px;
	list-style-type: none;
}

.uzantoj_feed-cont li {
	list-style-type: none;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px -15px;
}

.uzantoj_left_block{
	width: 250px;
	/*margin-left: 25px;*/
	height: auto;
	/*border-radius: 5px;
	border: 1px solid #DFDFDF;*/
	position: relative;
	z-index: 90;
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	/*padding-left: 10px;
	padding-top: 10px;*/
}

.uzantoj_left_block > p{
	padding-left: 10px;
	padding-right: 10px;
	font-size: 13px;
}

.uzantoj_news-feed{
	width: 560px;
	margin-left: 5px;
	position: relative;
	height: auto;
	display: inline-block;
}

.uzantoj_kovrilo{
	/*position: relative;*/
	width: 820px;
	height: 200px;
	border-radius: 5px;
	background-color: #DFDFDF;
	margin-bottom: 10px;
}

/*.uzantoj_kovrilo.uzanto_datumoj::before {*/
    /*display: block;*/
    /*position: absolute;*/
    /*content: ' ';*/
    /*top: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*background: rgba(0,0,0,0.4);*/
    /*border-radius: 5px;*/
/*}*/

.uzantoj_kovrilo h2{
	text-shadow: 0 0 10px #000;
}

.uzantoj_inf-bl{
	margin-top: 10px;
	width: 798px;
	height: 42px;
	border-radius: 5px;
	background-color: #E8BB42;
	border: 1px solid #D7AA31;
	padding: 10px 10px 0 10px;
	color: #FFFFFF;
}

.uzantoj_kovrilo > .uzantoj_kovrilo_bildo{
	width: 100%;
	height: 200px;
	border-radius: 5px;
}

.uzantoj_shadow-cov-field{
	height: 200px;
	width: 250px;
	margin-right: 570px;
	position: absolute;
	top: 0px;
	z-index: 100;
	background-color: rgba(0,0,0,0.5);
	border-radius: 5px 0 0 5px;
}

.uzantoj_title{
	color: white;
	font-size: 19.5px;
	font-weight: normal;
	margin-left: 10px;
	margin-top: 15px;
}

.uzantoj_pod-title{
	color: white;
	font-size: 14px;
	font-weight: normal;
	margin-left: 10px;
	margin-top: 15px;
}

.uzantoj_title-bl{
	height: 100px;
	width: 570px;
	position: absolute;
	top: 72px;
    right: 0px;
	z-index: 100;
}

.uzantoj_title-bl > a{
	display: inline-block;
}

.uzantoj_title-bl > a:hover{
	color: #ffffff !important;
}

.uzantoj_btn-cont{
	margin-top: 10px;
	width: 100%;
}

.uzantoj_right-block{
	width: 250px;
	margin-left: 25px;
	height: auto;
	border-radius: 5px;
	border: 1px solid #DFDFDF;
	position: relative;
	z-index: 200;
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
}

.uzantoj_right-block > p{
	padding-left: 10px;
	padding-top: 0px;
	padding-right: 10px;
	font-size: 13px;
}

.uzantoj_feed-bl{
	width: 538px;
	border-radius: 5px;
	height: auto;
	border: 1px solid #DFDFDF;
	padding: 0px 10px 0px 10px;
	margin-top: 10px;
}

.uzantoj_feed-bl > h2{
	font-size: 16px;
	font-weight: bold;
}

.uzantoj_feed-bl > ul{
	margin-left: 15px;
    list-style: square;
}
.uzantoj_feed-bl > ul > li{
	font-size: 14px;
	text-decoration: none !important;
}

a > .uzantoj_adm-butt{
	height: 25px;
	color: black;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
	border: 1px solid #DFDFDF;
	border-radius: 5px;
	font-size: 13px;
	font-weight: 500;
	cursor: pointer;
	font-family: sans-serif;
}

a{
	text-decoration: none !important;
}
.uzantoj_active{
	background-color: #007BAC;
	color: white !important;
}

.uzanto_mesago,
.uzantoj_kandidatoj,
.uzanto_kandidato,
.uzantoj_malplena,
.uzanto_kamarado,
.uzantoj_joining{
	height: 25px;
	background-color: rgba(0, 172, 123, 0.8);
	width: 230px;
	font-family: sans-serif;
	margin-left: 10px;
	margin-top: 5px;
	padding-top: 4px;
	text-align: center;
	color: white;
	font-size: 16px;
	font-weight: 400;
	border-radius: 3px;
}

.uzanto_kandidato,
.uzantoj_kandidatoj{
	background-color: #E9A034;
}

.uzanto_kamarado{
	background-color: rgba(0, 123, 172, 0.8);
}

.uzantoj_avatar{
	height: 180px;
	width: 180px;
	margin-left: 10px;
	margin-top: 10px;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
	background-color: #DFDFDF;
}

.uzantoj_avatar img{
	height: 180px;
	width: 180px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #fff;
	box-shadow: 0 0 6px #000;
}

#uzantoj_butono_aktiva{
	background-color: #008FCB;
	color: #FFFFFF !important;
	border: 1px solid #006DA9 !important;
}

/*Uzanta starta*/
.uzantoj_starta_chiuj{
	width: 100%;
	height: auto;
}

/*.uzantoj_starta_feed{*/
	/*width: 568px;*/
	/*position: relative;*/
	/*height: auto;*/
	/*display: inline-block;*/
/*}*/

.uzantoj_starta_bloko, .uzantoj_starta_titolo_bloko{
	height: auto;
	border-radius: 5px;
	padding: 0 10px 0 10px;
	border: 1px solid #DFDFDF;
}

.uzantoj_starta_bloko{
	width: 560px;
	margin-top: 10px;
}

.uzantoj_starta_titolo_bloko{
	width: 818px;
}

.uzantoj_starta_listo{
	display: block;
	position: relative;
	list-style-type: none;
	padding: 0;
}

.uzantoj_starta_listo_item_ofico{
	color: #555555;
	text-transform: lowercase;
}

.uzantoj_starta_listo_item{ display: block; position: relative; min-height: 50px; margin-top: 10px; padding-left: 60px;  }

.uzantoj_starta_listo_item_image { display: block; position: absolute; top: 0; left: 0; width: 50px; height: 50px; border: 1px solid rgba(0,0,0,0.2); border-radius: 50%; }

.uzantoj_starta_listo_item_image > img { vertical-align: middle; width: 100%; height: 100%; border-radius: 50%; }

.uzantoj_starta_listo_item_titolo { margin-bottom: 7px;}

.uzantoj_dekstra_chefa_bloko{
	width: 248px;
	/*margin-left: 25px;*/
	margin-top: 10px;
	height: auto;
	position: relative;
	z-index: 200;
	display: inline-block;
	vertical-align: top;
}

.uzantoj_dekstra_bloko{
	width: 248px;
	height: auto;
	border-radius: 5px;
	border: 1px solid #DFDFDF;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10px;
	padding: 10px 10px 0 10px;
}

.uzantoj_dekstra_bloko > p{
	padding: 0;
	font-size: 13px;
}

.uzantoj_dekstra_titolo{
	font-weight: bold;
	padding-bottom: 10px;
}

.uzantoj_dekstra_unu{
	padding-bottom: 4px;
}

.uzantoj_dekstra_du{
	padding-bottom: 10px;
	color: #777777;
}

.uzantoj_dekstra_du2{
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #DFDFDF;
	margin-bottom: 10px;
	color: #777777;
}

.small_teksto{
	font-size: 12px !important;
	padding: 3px !important;
}

.kandidatoj_listo{
	display: block;
	position: absolute;
	opacity: 0;
	z-index: 99;
	visibility: hidden;
	width: 350px;
	min-height: 50px;
	max-height: 170px;
	border: 1px solid #bbb;
	border-radius: 5px;
	background-color: white;
	top: 140px;
	left: -45px;
}

.kandidatoj_listo.open{
	top: 130px;
	opacity: 1;
}

.kandidatoj_listo::before{
	display: block;
	position: absolute;
	content: ' ';
	left: 156px;
	top: -6px;
	width: 0;
	height: 0;
	margin-top: 0;
	border: 6px solid transparent;
	border-top-width: 6px;
	border-bottom-color: transparent;
	border-bottom-color: white;
	border-top-width: 0;
	z-index: 996;
}

.kandidatoj_listo::after{
	display: block;
	position: absolute;
	content: ' ';
	left: 155px;
	top: -7px;
	width: 0;
	height: 0;
	z-index: 995;
	margin-top: 0;
	border: 7px solid transparent;
    border-top-width: 7px;
    border-bottom-color: transparent;
	border-bottom-color: grey;
	border-top-width: 0;
}

.kandidatoj_listo .container{
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 170px;
}

.kandidatoj_listo ul{
	margin: 5px;
	padding: 5px;
	list-style: none;
}

.container ul li > div{
	display: table-cell;
	vertical-align: middle;
	padding-right: 5px;
}

.container ul li img{
	display: block;
	border-radius: 5px;
}


/*Agordoj de uzanto*/
.uzantoj_agordoj_tab_bloko{
	width: 798px;
	height: auto;
	display: inline-block;
    padding: 0 0 10px 0;
}

.uzantoj_agordoj_bloko_unua{
	margin-bottom: 10px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.6);
    position: relative;
    opacity: 1;
    transition: 1s all;
}

.uzantoj_agordoj_tab_bloko input, .uzantoj_agordoj_tab_bloko select{
    border: 1px solid #DFDFDF;
	height: 32px;
	padding: 0 10px;
	font-size: 13px;
	color: #000000;
	background: #ffffff;
	border-radius: 5px;
	transition: 0.2s all;
}

.uzantoj_agordoj_tab_bloko input{
    width: 220px;
}

.uzantoj_agordoj_bloko_statuso input{
    width: 488px;
}

.uzantoj_agordoj_bloko_lando select{
    width: 244px;
}

.bad_value{
	box-shadow: 0 0 5px red;
}

.good_value{
	box-shadow: 0 0 5px green;
}

.uzantoj_enskribo_montri{
    position: relative;

}

.uzantoj_enskribo_montri_avatar{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 6px;
}

.uzantoj_enskribo_montri_avatar img {
    border-radius: 50%;
    margin-right: 5px;

}

.uzantoj_enskribo_montri_teksto{
    margin-left: 23px;
    padding-top: 6px;
}

.uzantoj_enskribo_montri_teksto a {
    font-weight: normal;
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}

.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: 15px;
    margin-top: -8px;
    position: absolute;
    top: 5px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}

.material-switch > input[type="checkbox"]:checked + label::before {
    background: #5cb85c;
    opacity: 0.5;
}

.material-switch > input[type="checkbox"][data-wait='true'] + label::after,
.material-switch > input[type="checkbox"][data-wait='true']:checked + label::after{
    background: #ffc107;
    left: 27.5px;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: #5cb85c;
    left: 40px;
}