.registrado_chefa_bloko{
	width: 818px;
	border-radius: 5px;
	height: auto;
	border: 1px solid #DFDFDF;
	display: inline-block;
    padding: 10px 10px 10px 10px;
}

.registrado_bloko_unua{
	margin-bottom: 10px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.6);
    position: relative;
    opacity: 1;
    transition: 1s all;
}

.registrado_bloko{
	margin-bottom: 25px;
}

.registrado_selection_checkbox { display: block; position: relative; top: 0; margin-top: 10px; transition: 0.2s all; }
.registrado_selection_checkbox:last-child { margin-top: 0; }
.registrado_selection_checkbox:hover { cursor: pointer; opacity: 0.8; }
.registrado_selection_checkbox:active { top: 2px; }
.registrado_selection_checkbox > input { display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%; opacity: 0; cursor: pointer; z-index: 10; }
.registrado_selection_checkbox > label { display: block; position: relative; padding-left: 24px; font-size: 13px; color: #000; z-index: 5; }
.registrado_selection_checkbox > label::before,
.registrado_selection_checkbox > label::after { display: block; position: absolute; content: ' '; top: 0; left: 0; width: 16px; height: 16px; transition: 0.2s all; box-sizing: border-box; }
.registrado_selection_checkbox > label::before { background-color: #fff; border-radius: 3px; border: 1px solid #ccc; }
.registrado_selection_checkbox:hover > label::before { border-color: #33A6D6; }
.registrado_selection_checkbox > label::after { top: -4px; background: url(../images/tick_black.png) center center no-repeat; -webkit-background-size: 10px 8px; background-size: 10px 8px; visibility: hidden; opacity: 0; }
.registrado_selection_checkbox > input:checked + label::before { /*outline: 2px solid #00B8FF !important;*/ }
.registrado_selection_checkbox > input:checked + label::after { top: 0; visibility: visible; opacity: 1; }

.registrado_chefa_bloko input, .registrado_chefa_bloko select{
    border: 1px solid #DFDFDF;
	height: 32px;
	padding: 0 10px;
	font-size: 13px;
	color: #000000;
	background: #ffffff;
	border-radius: 5px;
	transition: 0.2s all;
}

.registrado_chefa_bloko input{
    width: 220px;
}

.registrado_bloko_lando select{
    width: 244px;
}

.bad-value{
	box-shadow: 0 0 5px red;
}

.good-value{
	box-shadow: 0 0 5px green;
}
