{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    {% if not user.is_authenticated %}
        <main role="main" class="inner cover">
            {% if 'wellcome' in request.session %}
            <h4 class="card-title">{{ request.session.wellcome }}</h4>
            {% endif %}
            <h4 class="card-title">Войдите в свой аккаунт</h4>

            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">

                {{ form|crispy }}

                <button type="submit" class="btn btn-primary btn-block">Войти</button>
            </form>
        </main>
        <div class="inner">
            <p><a href="https://universo.pro/registrado">регистрация</a></p>
        </div>
    {% endif %}
{% endblock %}