{% load i18n %}
{% block title %}
    {% trans 'Сообщение с сервера взаимодействия Рус-Лог' %}
{% endblock title %}
{% block content %}
    <p>
        {% blocktrans %}
        {{ nomo }}
        {% endblocktrans %}
    </p>
    {% if priskribo %}
    <p>
        {% blocktrans %}
        {{priskribo}}
        {% endblocktrans %}
    </p>
    {% endif %}
    {% if organizo %}
    <p>
        {% blocktrans %}
        {{organizo}}
        {% endblocktrans %}
    </p>
    {% endif %}
    {% if retposhto %}
    <p>
        {% blocktrans %}
        {{retposhto}}
        {% endblocktrans %}
    </p>
    {% endif %}
{% endblock content %}
